<%- include('./header.partials.ejs') %>
<main>
  <h1>O que ta faltando?</h1>

  <% if (response) { %>
    <p><%= response.result %>: <%= response.data.name %></p>
  <% } %>

  <ul>
    <% if (data.length > 0) { %> 
      <% for(let item of data) { %>
        <li>
          Item: <%= item.name %> - qnt: <%= item.quantidade %>
          <a class="deleteX" href="/delete/<%- item.id %>">X</a>
        </li>
      <% } %>
    <% } else { %>
      <h3>lista vazia</h3>
    <% } %>
  </ul>
</main>
<%- include('./footer.partials.ejs') %>
