<%- include('./header.partials.ejs') %>
<main>
  <h1>O que ta faltando?</h1>

  <% if (response) { %>
    <p><%= response.result %>: <%= response.data.name %></p>
  <% } %>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <% if (data.length > 0) { %> 
        <% for(let item of data) { %>
          <tr>
            <td><h3>☞  <%= item.name %></h3></td>
            <td><%= item.quantidade %></td>
            <td><a class="editar" href="/editForm/<%- item.id %>">✎</a></td>
            <td><a class="deleteX" href="/delete/<%- item.id %>">X</a></td>
          </tr>
        <% } %>
      <% } else { %>
        <tr>
          <td colspan="4"><h3>Lista vazia</h3></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</main>
<%- include('./footer.partials.ejs') %>
